* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
 .logo {
     color: #F9FAF8;
     font-size: 24px;
     font-weight: 600;
 }
.links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #F9FAF8;
}
a:hover {
    color: #3882F6;
}
button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: white;
}
.main {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    padding-top: 90px;
}
.leftside {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    width: 450px;
    justify-content: center;
    align-items: center;
}
.hero {
    font-size: 48px;
    font-weight: 800;
}
.secondary {
    color: #E5E7EB;
    font-size: 18px;
}
.button {
    display: flex;
    flex: 0;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 10px;
    align-items: center;
    align-self: flex-start;
    margin-top: 15px;
}
.rightside {
    display: flex;
    background-color: #1F2937;
}
img {
    height: auto;
    width: 450px;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-bottom: 20px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding-bottom: 60px;
}
.info img{
    display: flex;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: solid #3882F6;
    border-radius: 25px;
}
.text {
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    max-width: 150px;
    margin-top: 15px;
}
.gray-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 300px;
    padding-right: 300px;
    gap: 20px;
}
.quote {
    display: flex;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #1F2937; 
    max-width: 750px;
}
.thor {
    display: flex;
    font-weight: 800;
    align-self:flex-end;
}
.bottom-white {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}
.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    width: 750px;
    border-radius: 5px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.sign-up {
    display: flex;
    font-size: 15px;
    font-weight: 100;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.button-two {
    display: flex;
    color: white;
    border: solid white;
    border-width: thin;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 15px;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 13px;
    height: 60px;
}